// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//import components
@import "partials/index";
@import "partials/create";
@import "partials/edit";
@import "partials/header";
@import "partials/dashboard";
@import "partials/login";
@import "partials/checkout";
@import "partials/success";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// html, body{
// 	height: 100%;
// }
// .main-wraper{
// 	min-height: 100%;
// 	display: flex;
// 	flex-direction: column;
// }

.main-main {
    padding-top: 60px;
}
